/* ---------------------------------------- */
/* Basic Setup */
/* ---------------------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* Reusable Components */
/* ---------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0px;
}
box {
    padding: 1%;
}
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1 {
    font-size: 240%;
    color: white;
    margin-bottom: 20px;
    margin-top: 0px;
    word-spacing: 4px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: orange;
    content: " ";
    width: 100px;
    margin: 0px auto;
    margin-top: 30px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ---------------------------------------- */
/* Paragraphs */
/* ---------------------------------------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;

}
.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ---------------------------------------- */
/* Icons */
/* ---------------------------------------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 10px;
    text-align: center;
}


/* ---------------------------------------- */
/* Buttons */
/* ---------------------------------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; 
    border-radius: 200px; 
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
    background-color: orange;
    border: 1px solid orange;
    color: white;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid orange;
    color: orange;
}
.btn:hover,
.btn:active {
    background-color: rgb(151, 98, 0);
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(151, 98, 0);
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid rgb(151, 98, 0);
    color: white;
}

/* ---------------------------------------- */
/* Header */
/* ---------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    height: 150px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    padding-bottom: 4px 0px;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid orange;
}

/* ---------------------------------------- */
/* Features */
/* ---------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* ---------------------------------------- */
/* Meals */
/* ---------------------------------------- */

.section-meals {
    padding: 0px;
}
.meals-showcase {
    list-style: none;
    width: 100%;
}
.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.20);
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}
